@import '../../shared.scss';

// .item {
//     min-width: 0;
// }
// .dev-img {
//     min-width: 150px;
//     max-width: 200px;
// }
// img {
//     width: 100%;
// }

// h1 {
//     margin: 0; padding: 0;
//     padding-bottom: 10px;
//     font-size: 2.2em;
//     letter-spacing: -1px;
// }

// h3 {
//     padding:0; margin: 0;
//     font-weight: 700;
//     font-size: 14px;

//     span a {
        
//         color: white;
//         text-decoration: none;

//         &:visited {
//             color: inherit;
//         }

//         &:hover {
//             background-color: #ff00ff;
//         }
//     }
// }

// .git {
//     color: white;
//     background-color: black;
//     margin-right: 10px;
// }

// .tag {
//     display:inline-block;
//     padding:0; margin:0;
//     background-color: $lightblue;
//     margin-right: 10px;
//     cursor: default;
//     margin-bottom: 8px;
// }

// .wip {
//     @extend.tag;
//     background-color:yellow;
//     border: 1px solid yellow;
// }

// p {
//     font-size: 17px;
//     font-family: 'Reem Kufi', sans-serif;
//     line-height: 24px;
//     margin: 0; padding: 7px 0px 15px 0px;
//     display:inline-block;
// }

// .toggle {
//     padding: 0; margin: 0;
//     cursor: pointer;
//     @extend .no-select;
    
    
//     span {
//         color: $darkblue;
//         font-family: 'Reem Kufi', sans-serif;
//         font-weight: 700;
//         border-bottom: 1.5px solid $darkblue;
//         line-height: 15px;
//         display: inline-block;
//     }

//     svg {
//         width: 13px;
//         padding: 0; margin: 0;
//         margin-right: 6px;
//         transform: rotate(-90deg);
//         transition: all .2s ease-in-out;

//         path {
//             fill: $darkblue;
//         }
//     }

//     &:hover {
//         span {
//             color: #ff00ff;
//             border-color: #ff00ff;
//             transition: all .2s ease-in-out;
//         }

//         svg path{
//             fill: #ff00ff;
//             transition: fill .2s ease-in-out;
//         }
//     }
// }

// .toggle-active {
//     span {
//         color: #ff00ff;
//         border-color: #ff00ff;
//     }

//     svg {
//         transform: rotate(0deg);
//     }

//     svg path{
//         fill: #ff00ff;
//     }
// }

// .prev-container {
//     margin-top: 10px;
//     overflow: hidden;
// }

// .mobile {
//     display: none;
// }

// @media only screen and (max-width: 650px) {
//     .mobile {
//         display: inline;
//     }

//     .dev-img {
//         min-width: 100%;
//         display:inline-block;
//         padding-bottom: 20px;

//         span {
//             margin: 0; padding: 0;
//             font-size: 2em;
//             letter-spacing: -1px;
//         }

//     }
//     img {
//         width: 40px;
//         margin: 0;
//         vertical-align: bottom;

//     }

//     .container {
//         padding: 0px 20px;
//     }

//     .desktop, h1 {
//         display: none !important;
//     }
// }


// @media only screen and (max-width: 900px) and (max-height: 666px) {
//     .mobile {
//         display: inline;
//     }

//     .dev-img {
//         min-width: 100%;
//         display:inline-block;
//         padding-bottom: 20px;

//         span {
//             margin: 0; padding: 0;
//             font-size: 2em;
//             letter-spacing: -1px;
//         }

//     }
//     img {
//         width: 40px;
//         margin: 0;
//         vertical-align: bottom;

//     }

//     .desktop, h1 {
//         display: none !important;
//     }
// }


/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.item {
    min-width: 0;
}
.dev-img {
    min-width: 150px;
    max-width: 200px;
}
img {
    width: 100%;
}

h1 {
    margin: 0; padding: 0;
    padding-bottom: 10px;
    font-size: 2.2em;
    letter-spacing: -1px;
}

h3 {
    padding:0; margin: 0;
    font-weight: 700;
    font-size: 14px;

    span a {
        
        color: white;
        text-decoration: none;

        &:visited {
            color: inherit;
        }

        &:hover {
            background-color: #ff00ff;
        }
    }
}

.git {
    color: white;
    background-color: black;
    margin-right: 10px;
}

.tag {
    display:inline-block;
    padding:0; margin:0;
    background-color: $lightblue;
    margin-right: 10px;
    cursor: default;
    margin-bottom: 8px;
}

.wip {
    @extend.tag;
    background-color:yellow;
    border: 1px solid yellow;
}

p {
    font-size: 17px;
    font-family: 'Reem Kufi', sans-serif;
    line-height: 24px;
    margin: 0; padding: 7px 0px 0px 0px;
    display:inline-block;
}

// .toggle {
//     padding: 0; margin: 0;
//     cursor: pointer;
//     @extend .no-select;
    
    
//     span {
//         color: $darkblue;
//         font-family: 'Reem Kufi', sans-serif;
//         font-weight: 700;
//         border-bottom: 1.5px solid $darkblue;
//         line-height: 15px;
//         display: inline-block;
//     }

//     svg {
//         width: 13px;
//         padding: 0; margin: 0;
//         margin-right: 6px;
//         -webkit-transform: rotate(-90deg);
//             -ms-transform: rotate(-90deg);
//                 transform: rotate(-90deg);
//         -webkit-transition: all .2s ease-in-out;
//         -o-transition: all .2s ease-in-out;
//         transition: all .2s ease-in-out;

//         path {
//             fill: $darkblue;
//         }
//     }

//     &:hover {
//         span {
//             color: #ff00ff;
//             border-color: #ff00ff;
//             -webkit-transition: all .2s ease-in-out;
//             -o-transition: all .2s ease-in-out;
//             transition: all .2s ease-in-out;
//         }

//         svg path{
//             fill: #ff00ff;
//             -webkit-transition: fill .2s ease-in-out;
//             -o-transition: fill .2s ease-in-out;
//             transition: fill .2s ease-in-out;
//         }
//     }
// }

.toggle-active {
    span {
        color: #ff00ff;
        border-color: #ff00ff;
    }

    svg {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    svg path{
        fill: #ff00ff;
    }
}

.prev-container {
    margin-top: 10px;
    overflow: hidden;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 650px) {
    .mobile {
        display: inline;
    }

    .dev-img {
        min-width: 100%;
        display:inline-block;
        padding-bottom: 20px;

        span {
            margin: 0; padding: 0;
            font-size: 2em;
            letter-spacing: -1px;
            font-weight: 700 !important;
        }

    }
    img {
        width: 40px;
        margin: 0;
        vertical-align: bottom;

    }

    .container {
        padding: 0px 20px;
    }

    .desktop, h1 {
        display: none !important;
    }
}


@media only screen and (max-width: 900px) and (max-height: 666px) {
    .mobile {
        display: inline;
    }

    .dev-img {
        min-width: 100%;
        display:inline-block;
        padding-bottom: 20px;

        span {
            margin: 0; padding: 0;
            font-size: 2em;
            letter-spacing: -1px;
            font-weight: 700 !important;
        }

    }
    img {
        width: 40px;
        margin: 0;
        vertical-align: bottom;

    }

    .desktop, h1 {
        display: none !important;
    }
}