@import '../../shared.scss';

.container {
  padding-bottom: 70px;
  --gap: 16px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  
  font-size: 16px;
}

.container > * {
  margin: var(--gap) 0 0 var(--gap);
}

.item {
  width: calc(25% - 16px);
  position: relative;
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .item {
      width: calc(33% - 16px);
  }
}

@media only screen and (max-width: 599px) {
  .container {
    padding: 0px 20px;
  }
}

@media only screen and (max-width: 720px) {
  .item {
    width: calc(50% - 16px);
  }
}