.container {
  font-size: 14px;
  // border: 1px solid red;
}

.item {
  // border: 1px solid blue;
}

p {
  padding: 0; margin: 0;
  text-align: center;
}

img {
  padding: 0; margin: 0;
  width: 100%;
  border: 1px solid #808080;
}