.container {
  --gap: 12px;
  display: inline-flex;
  flex-wrap: wrap;
  
  // justify-content: space-between;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  // width: calc(100% + var(--gap));
  // background-color: red;
  
  font-size: 14px;
  // border: 1px solid red;
  // padding-right: 10px;
}

.container > * {
  margin: var(--gap) 0 0 var(--gap);
}

.item {
  // border: 1px solid blue;
  position: relative;
  // border: 1px solid blue;
  width: calc(25% - 12px);
}

p {
  padding: 0; margin: 0;
  text-align: center;
}

img {
  padding: 0; margin: 0;
  width: 100%;
}

.name {
  position: absolute;
  top: 50%; left: 50%;
  transform: translateX(-50%) translateY(-50%);
  // border: 1px solid blue;
}

.creative-img{

}