<div class="container">
    <div *ngFor="let prevImage of previews; index as i; let last = last" class="preview" [ngClass]="{'last-child': title=='Sekai Chan Art' && last}">
        <img [src]="prevImage" (click)="openGallery(prevImage, i)"/>
    </div>
</div>

<div *ngIf="snackbarToggle && galleryToggle" @animateDestroy id="snackbar">
    <p>Double click image to enter/exit fullscreen mode.</p>

</div>

<div *ngIf="galleryToggle" id="gallery" (click)="closeGallery()"
    fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div fxFlex="80" class="img-container-outer gallery-child" >
        <div class="img-container"
            fxLayout="row" fxLayoutAlign="space-between center">
            <div *ngIf="!isEnlarged" [ngClass]="{'hide-arr':curIndex===0}"
                class="arr left"><img (click)="swapCurImage('left', $event)" src="../../assets/arrow.svg"></div>
            <div class="main-container">
                <img id="main-img" [src]="curImageSrc"
                    (click)="onMainImageClick($event)" (dblclick)="enlarge()"/>
            </div>
            <div *ngIf="!isEnlarged" [ngClass]="{'hide-arr':curIndex===previews.length-1}"
                class="arr right"><img (click)="swapCurImage('right', $event)" src="../../assets/arrow.svg"></div>
        </div>
        <!-- <map name="prevmap">
            <area shape="rect" coords="0,0,0,0" (click)="navigate('left')">
            <area shape="rect" coords="0,0,0,0" (click)="navigate('right')">
        </map> -->
    </div>
    <div fxFlex="10" class="gallery-child prev-list" >
        <div class="prev-container"
            fxLayout="row" fxLayoutAlign="center center">
            <!-- <div *ngFor="let prevImage of previews" class="gallery-preview">
                <img [src]="prevImage"/>
            </div> -->

            <img [ngClass]="{'glow':i===curIndex}" *ngFor="let prevImage of previews; index as i" (click)="onImageClick($event, i)" class="gallery-preview" [src]="prevImage">
        </div>
    </div>
</div>