<!-- <div class="container" *ngIf="!thumbnail">
    <div *ngFor="let prevImage of previews; index as i; let last = last" class="preview" [ngClass]="{'last-child': title=='Sekai Chan Art' && last}">
        <img [src]="prevImage" (click)="openGallery(prevImage, i)"/>
    </div>
</div> -->

<div class="creative-container" *ngIf="thumbnail">
    <div class="creative-img" (click)="openGallery(previews[0])">
        <img [src]="creaItem.image" draggable="false" />
        <div class="subtitle">
            <p>{{ creaItem.title }}</p>
        </div>
    </div>
</div>

<p class="toggle" *ngIf="!thumbnail" (click)="openGallery(previews[0], 0)">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 321.878 186.071"
        enable-background="new 0 0 321.878 186.071" xml:space="preserve">
        <g>
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#23a9e1" d="M24.902,0c2.863,2.985,5.686,6.013,8.824,8.721
                c0.29,0.25,0.549,0.537,0.82,0.809c41.762,41.761,83.526,83.52,125.263,125.306c0.86,0.861,1.24,0.788,2.06-0.033
                c44.564-44.61,89.154-89.194,133.739-133.784c0.321-0.321,0.605-0.678,0.906-1.018c0.077,0,0.154,0,0.231,0
                c0.247,0.286,0.477,0.593,0.746,0.856c2.98,2.92,5.923,5.875,8.936,8.765c4.927,4.725,9.681,9.628,14.513,14.452
                c0.294,0.294,0.624,0.553,0.938,0.828c0,0.077,0,0.154,0,0.23c-0.287,0.249-0.591,0.48-0.858,0.748
                c-53.114,53.109-106.226,106.222-159.335,159.335c-0.267,0.268-0.498,0.57-0.746,0.856c-0.154,0-0.307,0-0.461,0
                c-0.303-0.342-0.589-0.699-0.912-1.021c-49.14-49.146-98.285-98.285-147.411-147.445c-1.39-1.391-2.743-2.825-4.034-4.332
                C5.636,30.369,2.731,27.825,0,25.132c0-0.076,0-0.153,0-0.23c0.287-0.248,0.593-0.477,0.857-0.747
                c2.84-2.899,5.713-5.766,8.524-8.695c4.729-4.928,9.633-9.687,14.46-14.521C24.136,0.644,24.396,0.313,24.671,0
                C24.748,0,24.825,0,24.902,0z" />
        </g>
    </svg>
    <span>View more</span>
</p>

<div fxHide.xs fxHide.sm *ngIf="snackbarToggle && galleryToggle" @animateFade id="snackbar">
    <p>Double click image to enter/exit fullscreen mode.</p>
</div>

<div *ngIf="mobileSnackbarToggle && galleryToggle" @animateFade id="mobile-snackbar">
    <p>Swipe to scroll. <br/> Tap to exit.</p>
</div>

<div *ngIf="galleryToggle" id="gallery" (click)="closeGallery()"
    fxLayout="column" fxLayoutAlign="center center" fxLayoutGap.gt-md="20px" fxLayoutGap.sm-xs="0px">
    <div fxFlex.gt-md="80" fxFlex.xs="100" fxFlex.sm="100" class="img-container-outer gallery-child" >
        <div class="img-container"
            (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)"
            fxLayout="row" fxLayoutAlign="space-between center">
            <div fxHide.xs
                *ngIf="!isEnlarged" [ngClass]="{'hide-arr':curIndex===0}"
                class="arr left"><img (click)="swapCurImage('left', $event)" src="../../assets/arrow.svg"></div>
            <div class="main-container" fxLayoutAlign="center center">
                <img *ngIf="!isVideo" id="main-img" [src]="curImageSrc"
                    (click)="onMainImageClick($event)" (dblclick)="enlarge()"/>
                    <video (click)="onMainImageClick($event)" height="100%" *ngIf="isVideo" controls autoplay>
                        <source [src]="curImageSrc" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
            </div>
            <div fxHide.xs
                *ngIf="!isEnlarged" [ngClass]="{'hide-arr':curIndex===previews.length-1}"
                class="arr right"><img (click)="swapCurImage('right', $event)" src="../../assets/arrow.svg"></div>
        </div>
        <!-- <map name="prevmap">
            <area shape="rect" coords="0,0,0,0" (click)="navigate('left')">
            <area shape="rect" coords="0,0,0,0" (click)="navigate('right')">
        </map> -->
    </div>
    <div fxFlex.gt-md="5" class="subtitle">
        <p class="count">({{curIndex+1}}/{{galleryPreview.length}})</p>
        <p class="desc" fxHide>TODO: insert subtitles</p>
    </div>
    <div fxFlex="10" class="gallery-child prev-list" fxHide.xs fxHide.sm >
        <div class="prev-container"
            fxLayout="row" fxLayoutAlign="center center">
            <!-- <div *ngFor="let prevImage of previews" class="gallery-preview">
                <img [src]="prevImage"/>
            </div> -->

            <img [ngClass]="{'glow':i===curIndex}" *ngFor="let prevImage of previews; index as i" (click)="onImageClick($event, i)" class="gallery-preview" [src]="prevImage">
        </div>
    </div>
</div>