@import '../../shared.scss';

.container{
    display: flex;
}
.preview {
    width: 50px;
    height: 50px;
    // border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
    background-color: black;
    text-align: center;
    border: 1px solid fuchsia;

    // position:relative;

    img {
        @extend.prevent-img-blur;
        height:50px;
        // max-width:none;
        width: auto;
        margin:0 -100%;
        opacity: .3;
        // transition: all .2s ease-in-out;
        cursor: pointer;

        &:hover{
            opacity: 1;
        }
    }
}

.last-child img {
    width: 50px;
    height: auto;
}


#gallery {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.97);
    transition: .3s all ease-in;
    z-index: 998 !important;
    // height: 0;
    // overflow: hidden;
}

.img-container {
    // border: 1px solid red;
    height: 100%;

    .arr img {
        width: 50px;
        height: 50px;
        cursor: pointer;

        &:hover {
            filter: drop-shadow(0px 0px 5px fuchsia);
            transition: .2s filter ease-in;
        }
    }

    .arr {
        align-self:center;
        &.left img{
            transform: rotate(90deg);
        }

        &.right img{
            transform: rotate(-90deg);
        }
    }

}

.prev-container {
    height: 100%;
    max-width: 100%;
    overflow: hidden;

    img {
        height: 100%;
        display: block;
        filter: brightness(30%) grayscale(100%);
        border: 1px solid black;
        transition: .2s all ease-in-out;

        &:hover {
            filter: brightness(50%);
        }
    }
}
.gallery-child {
    width:100%;
}

area {
    cursor: pointer;
}

.hide-arr {
    img {
        opacity:0;
        pointer-events: none;
    }
}

.enlarged, .enlarged * {
    margin: 0 auto !important;
    max-height: 100% !important;
    max-width: 100% !important;
}

.prev-enlarged {
    display:none !important;
    margin: 0 auto !important;
}

.main-enlarged {
    max-height: 100% !important;
    max-width: 100% !important;
    margin: 0 auto !important;
}

.main-container {
    height: 100%;
    width: 100%;
    margin: 0 auto !important;
}
#main-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin:0 auto;
}


.glow {
    filter:brightness(100%) !important;
    border:10px solid $darkblue !important;

}

#snackbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999 !important;
    width: 100%;
    color: white;
    text-align: center;
    transition: .3s opacity ease-in;
    background-color: black;
    opacity: .7;
}

.creative-container {
    margin: 0; padding: 0;


    img {
    @extend.prevent-img-blur;
    width: 100%;
    display: block;
    // cursor: pointer;
    // border: 1px solid red;
    transition: .3s all ease-in-out;
    transform-origin: middle;
    border-radius: 50%;
    // transform: scale(2) translate3d(0, 0, 0);
    
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    }
    .name {
    margin-top: 10px;
    }
    
    .subtitle {
    font-size: 20px;
    position: absolute;
    font-style: italic;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50%));
    z-index: 99;
    opacity: 0;
    // color: white;
    font-weight: 700;
    transition: .3s all ease-in;
    // text-transform: lowercase;
    }
    
    .creative-img{
    // background-color: fuchsia;
    overflow: hidden;
    transition: .3s all ease-in-out;
    border-radius: 50%;
    cursor: pointer;
    // border: 1px solid blue;
    // background-color: #ef74d7;
        // border:2px solid white;
    

    p {
        padding: 0; margin: 0;
        text-align: center;
    }
    &:hover {
        img {
        transform: scale(1.8);
        -webkit-filter: blur(35px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
        
        }
    
        .subtitle {
        opacity: 1;
        cursor: pointer;
        }
    }
    }
}
  

// @media screen and (max-width: 599px) {
//     .prev-list {
//         @extend .prev-enlarged;
//     }

//     #main-img {
//         @extend .main-enlarged;
//     }

//     .img-container-outer {
//         @extend .enlarged;
//     }

//     .img-container-outer, .img-container-outer * {
//         margin: 0 auto !important;
//         height:100% !important;
//         max-height: 100% !important;
//         max-width: 100% !important;
//     }
    
//     .prev-list {
//         display:none !important;
//         margin: 0 auto !important;
//     }
    
//     #main-img {
//         height: 100% !important;
//         width: 100% !important;
//         margin: 0 auto !important;
//     }
// }