$lightblue: #c4e1fb;
$darkblue: #23a9e1;

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prevent-img-blur {
    filter: none; 
    -webkit-filter: blur(0px); 
    -moz-filter: blur(0px); 
    -ms-filter: blur(0px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
    image-rendering: crisp-edges;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialised;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
            transform: translateZ(0) scale(1.0, 1.0);
    -webkit-font-smoothing: subpixel-antialiased;
}