<div id="home" *ngIf="currentPage===''" [@slowIn] (click)="enterSite()">
  <div class="content">
    <div class="top">
      <p #quoteRef>{{ quote }}</p>
    </div>

    <div class="bg">
      <img class="bg-img" [src]="bgImg" />
      <img class="logo-white" src="../../assets/logo-white-04.svg" />
      <div class="links">
        <!-- <a [routerLink]="['/creative']">[creative]</a>
        <a [routerLink]="['/developer']">[developer]</a> -->
          <a>(enter site)</a>
      </div>
    </div>

    <div class="bottom">
      <p>{{ date | date: 'MM.dd.yyyy' }}</p>
      <p class="date">{{ date | date: 'hh:mm:ss a' }}</p>
      <p><img id="music-img" src='../../assets/music-icon.png' /><span> <a href="{{songLink}}">{{ song }}</a></span></p>
    </div>
  </div>
</div>




<div id="main" *ngIf="currentPage!==''" [@slowIn]>
  <!-- <header>
    <a [routerLink]="['/']"><img id="logo" src="../../assets/logo-world-sekai-chan-art.JPG"/><img id="letter-logo" src="../../assets/uyen-vo-logo.png"/></a>

    <nav>
      <a [routerLink]="['/creative']">creative</a>
      <a [routerLink]="['/developer']">developer</a>
      <a href="">resume</a>
    </nav>
  </header> -->

  <div class="flex-container" fxLayoutAlign="start space-between" fxLayout.xs="column" fxLayout="row" fxLayoutGap="5%" fxFlexFill>
    <div id="mobile-logo-container" fxHide fxShow.xs>
      <div id="mobile-logo">
        <a [routerLink]="['/']"  (click)="loadLandingPage()">
          <div id="logo-nav">
            <div><img id="logo" src="../../assets/logo-color.png" draggable="false" /></div>
            <div><img id="letter-logo" src="../../assets/logo-text-02.svg" draggable="false" /></div>
          </div>
        </a>
      </div>
    </div>

    <nav id="mobile-nav" fxHide fxShow.xs>
      <a [routerLink]="['/creative']" routerLinkActive="active">creative</a>
      <a [routerLink]="['/developer']" routerLinkActive="active">developer</a>
      <a href="../../assets/resume.pdf">resume</a>
    </nav>

    <div fxFlex.gt-xs="20" class="profile flex-child" (resized)="onResized($event)" >
      <a [routerLink]="['/']"  (click)="loadLandingPage()"fxHide.xs>
        <div id="logo-nav">
          <div><img id="logo" src="../../assets/logo-color.png" draggable="false" /></div>
          <div><img id="letter-logo" src="../../assets/logo-text-02.svg" draggable="false" /></div>
        </div>
      </a>

      <div class="pfp-container" >
        <div class="pfp" [style.height.px]="pfpWidth">
          <img [ngClass]="{'opaque': currentPage=='creative'}"src="../../assets/temp.jpg" draggable="false" />
          <img [ngClass]="{'opaque': currentPage=='developer'}" src="../../assets/irl-pfp.jpg" draggable="false" />
        </div>
        <p class="location"><img id="loc-img" src='../../assets/location-icon.png' /><span>Dallas, TX</span></p>
        <p class="desc">Passionate about front end technologies, particularly Angular. Also love to draw and dabble in
          graphic design. If you're hiring and find me to be a good fit, please let me know. :)</p>
        <ul id="social">
          <li><a href="mailto:uyend.vo@gmail.com"><img
                src='../../assets/social-email.svg' /><span>uyend.vo@gmail.com</span></a></li>
          <li><a href="https://www.instagram.com/sekaichan.art/"><img
                src='../../assets/social-insta.svg' /><span>sekaichan.art</span></a></li>
          <li><a href="https://github.com/uyen-vo"><img src='../../assets/social-git.svg' /><span>uyen-vo</span></a>
          </li>
          <li><a href="https://www.linkedin.com/in/uyen-dung-vo"><img src='../../assets/social-linkedin.svg'
                id="linkedin" /><span>uyen-dung-vo</span></a></li>
        </ul>
      </div>

    </div>

    <!-- <div class="router-container" [@routerFade]="o.isActivated ? o.activatedRoute : ''"> -->
    <div class="flex-child"  fxLayout="column">
      <nav id="desk-nav" fxHide.xs>
        <a [routerLink]="['/creative']" routerLinkActive="active">creative</a>
        <a [routerLink]="['/developer']" routerLinkActive="active">developer</a>
        <a href="../../assets/resume.pdf">resume</a>
      </nav>

      <div class="router-container" fxFlex="grow" fxLayout="column">
        <!-- <ng-scrollbar class="custom-scroll"> -->
        <router-outlet></router-outlet>
        <!-- </ng-scrollbar> -->
      </div>

      <!-- <ng-scrollbar appearance="standard" class="custom-scroll">
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </ng-scrollbar> -->
    </div>
    <!-- </div> -->
  </div>
</div>