#main {
  margin: 0; padding: 0;
  height: 100vh;
}

.flex-container{
  max-height: 100vh;
}

.pfp {
  border: 1px solid red;
  width: 100%;
  margin-top:10px;
  
  img{
    display:block;
    width: 100%;
  }
}

.router-container{
 border: 1px solid red;
 margin-top: 10px;
}

.profile {
  width: 300px;
  
}

#logo {
  width: 45px;
  height: 45px;
}

#letter-logo {
  height: 45px;
}

nav {
  height: 48px;
  font-size: 30px;
  border: 1px solid green;
  // flex-grow: 2;
  // display: flex;

  a {
    font-family: 'Work Sans', sans-serif;
    margin-right: 20px;
    // display:inline-flex;
  }

  a:last-child{
  }
}




#home {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  font-weight: 300;
  background-color: white;
}

.content {
  width: 500px;
  height: 100vh;
  display: block;
  margin: 0 auto;
  // border: 1px solid red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.music {
  margin-bottom: 15px;
}

.time {
  margin-top: 15px;
}

#music-img {
  width:15px;
  vertical-align: middle;
}

.bg-img {
  width: 100%;
  vertical-align: middle;
  position: relative;
  top: 0; left: 0;
}

.links {
  position: absolute;
  z-index: 999;
  bottom: 15px;;
  width: 100%;
  text-align: center;

  a {
    color: white;
    font-weight: 400;

    &:hover {
      text-shadow: 0 0 3px white;
      transition: text-shadow .1s ease-in;
    }
  }

  a:last-child {
    margin-left: 15px;
  }
}

.bg {
  position: relative;
  margin: 30px 0px;
}

.logo-white {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

.time {
  width: 100%;
  position: relative;
  p {
    padding: 0; margin: 0;
  }

  p:last-child {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}