$lightblue: #c4e1fb;

body {
  display: flex; 
  min-height: 100vh;
}

::ng-deep {
  ng-scrollbar.custom-scroll {
    // --scrollbar-size: 8px;
    // --scrollbar-thumb-color: #808080;
    // --scrollbar-hover-size: 8px;
    // --scrollbar-track-color: white;
    // --scrollbar-border-radius: 8px;
    // margin: 0; padding: 0;

    // --scrollbar-viewport-margin: 0;
    
  //   --scrollbar-thumb-transition: none;
  // --scrollbar-track-transition: none;
  }
}


// main page
#main {
  margin: 0; padding:0;
  display: flex;
  padding: 0px 200px;
  height: 100vh;
}

.flex-container{
  height: 100vh;

  .flex-child {
    padding-top: 70px;
    height: 100vh;
  }
}

.profile {
  width: 300px;
  font-size: 14px;
}

.pfp {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  margin-top:50px;
  position: relative;
  
  img{
    width: 100%;
    position:absolute;
    left:0;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);  
    border: 1px solid #808080;
  }

  img.opaque {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
  }
}

#loc-img {
  width:20px;
  vertical-align: middle;
}

.location {
  display: table;
  font-weight: 700;

  span {
    background-color: $lightblue;
    margin-left: 10px;
  }
}

#social {
  p {
    font-weight: 700;
    padding:0; margin:0;

    a {
      color: black;
      
      a:visited {
        color:black;
      }

      span {
        margin-left: 10px;
        &:hover {
          background-color: $lightblue;
        }
      }
    }
  }
  img {
    width:20px;
    vertical-align: middle;
  }
}

.desc { 
  letter-spacing: .2px;
}

.router-container{
  border: 2px solid blue;
  margin-top:50px;
  flex-grow: 1;
  // height: 500px;
  // overflow: auto;
  overflow-x: none;
  overflow-y: auto;
  
}

#logo {
  width: 45px;
  height: 45px;
}

#letter-logo {
  height: 32px;
  margin-left: 20px;
  margin-top:5px;
}

#logo-nav {
  display: table;

  div {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
  }
}

nav {
  font-size: 30px;
  
  // flex-grow: 2;
  // display: flex;

  a {
    font-family: 'Reem Kufi', sans-serif;
    margin-right: 40px;
    color: #808080;
    transition: .2s color ease-in;
    // display:inline-flex;
  }

  a:hover{
    color: black;
  }
  a:last-child{
    float: right;
    float: clear;
    margin-right:0;
  }
}

nav .active {
  color: black;
}

















// home page
#home {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: white;
}

#home p {
  padding: 0; margin: 0;
  width: 100%;
}

.content {
  width: 500px;
  height: 100vh;
  display: block;
  margin: 0 auto;
  // border: 1px solid red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom {
  margin-bottom: 30px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // border: 1px solid black;
}

#home .date {
  margin-bottom: 20px;
}

.top {
  margin-top: 20px;
  height: 300px;
  // border: 1px solid black;
  position: relative;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#music-img {
  width:15px;
  vertical-align: middle;
}

.bg-img {
  width: 100%;
  vertical-align: middle;
  position: relative;
  top: 0; left: 0;
}

.links {
  position: absolute;
  z-index: 999;
  bottom: 15px;;
  width: 100%;
  text-align: center;

  a {
    color: white;

    &:hover {
      text-shadow: 0 0 3px white;
      transition: text-shadow .1s ease-in;
    }
  }

  a:last-child {
    margin-left: 10px;
  }
}

.bg {
  position: relative;
  margin: 30px 0px;
}

.logo-white {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
}

