.container {
  // padding-right: 20px;
}

.item {
  padding: 35px 0px;
  border-bottom: 1px solid #a4a4a4;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border: none;
    padding-bottom: 150px;
  }
}